.row
  .small-12.medium-8.large-6.small-centered.columns
    #results.row
      %h1 OpenWindow
      #map.small-12.medium-5.columns{data: {lat: @location['lat'] , lon: @location['lng']}}
      %ul.small-12.medium-6.columns
        %li
          Air Quality Index: #{ @air }
        %li
          Air Temperature: #{ @weather }
        %li
          Open the windows? #{ @openwindow ? "Yes" : "No" }

